.iconReper {
  height: 35px;
  width: 35px;
  background-color: #3D3D3D;
  color: white;
  font-size: 1.4rem;
  margin-right: 0.9rem;
  padding-top: 1.5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconReper a {
  color: white;
  font-family: "Nokora"
}